# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# Model weights
models/

# Temporary files
tmp/
temp/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db